/* Img */
.img-list {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.img-card {
  max-height: 500px;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}
/* Loader */
.layover {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
